.DateSection{
  color:red; 
  padding:20px;
  display: flex;
  justify-content: flex-end;
}

.content{
  padding: 5px;
  text-align: center;
}
.dateComponent{
  padding: 5px;
  margin: 5px;
}

.label{
  color:black; 

}

.updateBtn{
  color:snow;
  background-color: royalblue;
  margin: 5px;
  padding: 5px;
  border:0px;
}

.updateBtn:hover{
  color:snow; 
  background-color: sandybrown;
  border:0px;
  cursor: pointer;
}
.uhlogo{
 position: absolute;
 margin-top: 10px;
 margin-left: 10px;
}